/* 可変レイアウト
------------------------------------------ */
html {
    font-size: calc(10 * 100vw / 390);
    scroll-behavior: smooth;
}

@media (min-width:768px) {
    html {
        font-size: calc(10 * 100vw / 1240);
    }
}

@media (min-width: 1240px) {
    html {
        font-size: 62.5%;
    }
}

/* ベースのスタイル
------------------------------------------ */
body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
}

a,
a:hover,
a i {
    transition: opacity .3s;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul {
    list-style: none;
}

ol {
    list-style: none;
}

.all {
    overflow: hidden;
}

/*ヘッダー
------------------------------------------ */
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

@media (min-width: 768px) {
    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        background-color: #fff;
        padding-bottom: 4.2rem;
        padding-top: 4.2rem;
    }
}

.header__container {
    display: flex;
    justify-content: center;
    column-gap: 13.8rem;
}

@media (min-width: 768px) {
    .header__container {
        display: flex;
        justify-content: space-between;
        column-gap: 0.8rem;
        max-width: 120rem;
        margin: 0 auto;
        padding-right: 1.6rem;
        padding-left: 1.6rem;
    }
}


.header__link-img {
    width: 19.7rem;
    height: 2.3rem;
}


@media (min-width: 768px) {
    .header__link-img {
        width: 26.3rem;
        height: 3rem;
    }

}

/* ハンバーガーボタン */
.header__hamburger {
    width: 2.4rem;
    height: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: .6rem;
    background-color: #fff;
    margin-top: .3rem;
}

@media (min-width: 768px) {
    .header__hamburger {
        display: none;
    }
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
}



.header__hamburger-bar {
    width: 2.4rem;
    height: .2rem;
    background-color: #333;
}


/* ヘッダーメニュー */
.header__hamburger-menu {
    display: none;
}

@media (min-width: 768px) {
    .header__hamburger-menu {
        display: inline;
    }
}


@media (min-width: 768px) {
    .header__hamburger-menu-list-item-link {
        font-size: 1.6rem;
        font-weight: 700;
        font-family: 'Noto Sans JP', sans-serif;
        color: #000;
    }
}

@media (min-width: 768px) {
    .header__hamburger-menu-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 3.7rem;
    }
}

@media (min-width: 768px) {
    .header__hamburger-menu-list-item-link-price {
        font-size: 1.6rem;
        font-weight: 700;
        font-family: 'Noto Sans JP', sans-serif;
        color: #168352;
    }
}

@media (min-width: 768px) {
    .header__hamburger-menu-list-item-link-q {
        font-size: 1.6rem;
        font-weight: 700;
        font-family: 'Noto Sans JP', sans-serif;
        color: #168352;
    }
}

@media (min-width: 768px) {
    .header__hamburger-menu-list-item-link-q {
        font-size: 1.6rem;
        font-weight: 700;
        font-family: 'Noto Sans JP', sans-serif;
        color: #168352;
    }
}


/*ハンバーガーメニュー
------------------------------------------ */
.hamburger__list-item-link-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #fff;
}

@media (max-width: 767.9px) {
    .hamburger {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 6.3rem;
        background-color: #168352;
        transition: all 0.6s;
        opacity: 0;
        visibility: hidden;
        left: 1.6rem;
        right: 1.6rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: .7rem;
        text-align: center;
        padding-top: 3.1rem;
        border-radius: 2.4rem;
    }
}

.hamburger__list-item {
    margin-bottom: 2.6rem;
}


/* アクティブ状態 */
.hamburger__menu-active {
    opacity: 1;
    visibility: visible;
}


/*カバー
------------------------------------------ */
.cover {
    margin-top: 6.3rem;
    padding: .8rem 1.6rem 0 1.6rem;
    margin-bottom: 5.5rem;
}


@media (min-width: 768px) {
    .cover {
        margin-top: 11.4rem;
        padding: 3.6rem 1.6rem 0 1.6rem;
    }
}

.cover__container {
    margin-bottom: 2.6rem;
}

@media (min-width: 768px) {
    .cover__container {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        max-width: 110rem;
        justify-content: space-between;
        margin-bottom: 5.8rem;
    }
}


.cover__container-heading {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    color: #000;
    text-align: start;
    margin-bottom: 1.6rem;
}

@media (min-width: 768px) {
    .cover__container-heading {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 4rem;
        color: #000;
        text-align: center;
        width: 44rem;
        margin-bottom: 0rem;
    }
}

.cover__container-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 2.6rem;
    line-break: anywhere;
}

@media (min-width: 768px) {
    .cover__container-text {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        color: #000;
        width: 52.95rem;
        margin-bottom: 0rem;
        margin-top: 1.2rem;
    }
}

.cover__img {
    display: block;
    margin: 0 auto;
    width: 53.8rem;
    border-radius: 4rem;
}

@media (min-width: 768px) {
    .cover__img {
        display: block;
        width: 116.7rem;
    }
}


/* About Us
------------------------------------------ */

@media (min-width: 768px) {
    .about {
        padding-top: .8rem;
        margin-bottom: 6.5rem;
    }
}

.about__container-heading {
    text-align: center;
    margin-bottom: 1.7rem;
}

@media (min-width: 768px) {
    .about__container-heading {
        text-align: center;
        margin-bottom: 2.2rem;
    }
}

.about__container-heading-english {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #168352;
    line-height: 1;
}

@media (min-width: 768px) {
    .about__container-heading-english {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 2rem;
        color: #168352;
        margin-bottom: .4rem;
    }
}

.about__container-heading-japanese {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #000;
}

@media (min-width: 768px) {
    .about__container-heading-japanese {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 2.8rem;
        color: #000;
    }
}

.about__container-wrapper {
    height: 54.4rem;
}

@media (min-width: 768px) {
    .about__container-wrapper {
        height: 57rem;
    }
}

.about__container-wrapper-img {
    background-image: url("/assets/image/about_sp.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    padding-top: 3.2rem;
}

@media (min-width: 768px) {
    .about__container-wrapper-img {
        background-image: none;
        display: flex;
        flex-direction: row;
        column-gap: 13.6rem;
        padding-top: 0rem;
        justify-content: center;
        max-width: 120rem;
        margin-left: auto;
        margin-right: auto;
    }
}


@media (min-width: 768px) {
    .about__container-wrapper-img-box {
        width: calc((100% - 15.5rem)/2);
        margin-left: auto;
        margin-right: auto;
    }
}

.about__container-wrapper-img-box-pc {
    display: none;
}

@media (min-width: 768px) {
    .about__container-wrapper-img-box-pc {
        display: block;
        margin-left: .8rem;
        width: 39rem;
    }
}

.about__container-wrapper-img-box-text {
    background-color: #fff;
    opacity: .8;
    width: 35.8rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3.2rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.7rem;
}

@media (min-width: 768px) {
    .about__container-wrapper-img-box-text {
        background-color: #fff;
        opacity: 1;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0rem;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 10rem;
        padding-bottom: 1.8rem;
        margin-left: auto;
        width: 41.2rem;
    }
}

.about__container-wrapper-img-box-text-title {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #111;
    margin-bottom: .7rem;
}

@media (min-width: 768px) {
    .about__container-wrapper-img-box-text-title {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 2rem;
        color: #111;
        margin-bottom: 2.5rem;
        width: 40.962rem;
    }
}

.about__container-wrapper-img-box-text-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #111;
}

@media (min-width: 768px) {
    .about__container-wrapper-img-box-text-text {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        color: #111;
        width: 41.2rem;
        letter-spacing: 0.004em
    }
}

.about__container-wrapper-img-box-text-title-br {
    display: inline-block;
}

@media (min-width: 768px) {
    .about__container-wrapper-img-box-text-title-br {
        display: inline-block;
    }
}

@media (min-width: 768px) {
    .about__container-wrapper-img-box-text-title-pc {
        display: inline-block;
    }
}

/* 3つのポイント
------------------------------------------ */
.point {
    padding-top: 5.4rem;
    padding-bottom: 3.5rem;
    background-color: #f3f9f6;
}

@media (min-width: 768px) {
    .point {
        padding-top: 6.2rem;
        padding-bottom: 4.3rem;
    }
}

.point__container-heading {
    text-align: center;
    margin-bottom: 1.8rem;
}

@media (min-width: 768px) {
    .point__container-heading {
        text-align: center;
        margin-bottom: 2.2rem;
    }
}

.point__container-heading-english {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #168352;
    line-height: 1;
}

@media (min-width: 768px) {
    .point__container-heading-english {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 2rem;
        color: #168352;
        margin-bottom: .4rem;
    }
}

.point__container-heading-japanese {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #000;
}

@media (min-width: 768px) {
    .point__container-heading-japanese {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 2.8rem;
        color: #000;
    }
}

.point__container-wrapper {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

@media (min-width: 768px) {
    .point__container-wrapper {
        display: flex;
        flex-direction: row;
        max-width: 120rem;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        margin-left: auto;
        margin-right: auto;
        column-gap: 3rem
    }
}

.point__container-wrapper-box {
    background-color: #fff;
    border-radius: 2.4rem;
    padding-bottom: 1.3rem;
    margin-bottom: 2.1rem;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, .05);
}

@media (min-width: 768px) {
    .point__container-wrapper-box {
        background-color: #fff;
        width: calc((100% - 6rem)/3);
        border-radius: 2.4rem;
        padding-bottom: 1.5rem;
        margin-bottom: 2.1rem;
        box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, .05);
    }
}

.point__container-wrapper-box-img {
    width: 35.9rem;
    margin-bottom: 1.1rem;
}

@media (min-width: 768px) {
    .point__container-wrapper-box-img {
        width: 100%;
        height: 22.6rem;
        margin-bottom: 1.1rem;
    }
}

.point__container-wrapper-box-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #111;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

@media (min-width: 768px) {
    .point__container-wrapper-box-text {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 1.9rem;
        color: #111;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.point__text--space {
    letter-spacing: 0.005em;
    ;
}

@media (min-width: 768px) {
    .point__text--space {
        letter-spacing: 0em;
    }
}

.point__text--last{
    padding-top: .2rem;
    line-height: 1.7;
}

/* 製品・サービス紹介
------------------------------------------ */
.introduction {
    padding-top: 5.6rem;
    padding-bottom: 3.6rem;
    background-color: #fff;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

@media (min-width: 768px) {
    .introduction {
        padding-top: 6.5rem;
        padding-bottom: 4.3rem;
        background-color: #fff;
    }
}

.introduction__container-heading {
    text-align: center;
    margin-bottom: 1.75rem;
}

@media (min-width: 768px) {
    .introduction__container-heading {
        text-align: center;
        margin-bottom: 2.4rem;
    }
}

.introduction__container-heading-english {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #168352;
    line-height: 1;
}

@media (min-width: 768px) {
    .introduction__container-heading-english {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 2rem;
        color: #168352;
        margin-bottom: .4rem;
    }
}

.introduction__container-heading-japanese {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #000;
}

@media (min-width: 768px) {
    .introduction__container-heading-japanese {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 2.8rem;
        color: #000;
    }
}

@media (min-width: 768px) {
    .introduction__container-over {
        display: flex;
        flex-direction: row;
        justify-items: center;
        column-gap: 5rem;
        max-width: 110rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
    }
}


.introduction__container-over-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #168352;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2.4rem;
    padding-right: 5.5rem;
    column-gap: 1.7rem;
    border-radius: 2.4rem;
    margin-bottom: 2rem;
    color: #fff;
}

@media (min-width: 768px) {
    .introduction__container-over-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #168352;
        padding-top: 2.4rem;
        padding-bottom: 2.3rem;
        padding-left: 3.2rem;
        padding-right: 11.4rem;
        column-gap: 2.8rem;
        border-radius: 2.4rem;
        margin-bottom: 2rem;
        width: calc((100% - 5rem)/2);
    }
}

@media (min-width: 768px) {
    .introduction__container-over-box:hover {
        background-color: #dffaec;
        color: #168352;
    }
}

.introduction__container-over-box-text-sp {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 1.8rem;
}

@media (min-width: 768px) {
    .introduction__container-over-box-text-sp {
        display: none;
    }
}

.introduction__container-over-box-text-pc {
    display: none;
}

@media (min-width: 768px) {
    .introduction__container-over-box-text-pc {
        display: block;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 2.4rem;
        margin-top: 2.3rem;
    }
}

.introduction__container-over-box-text-enegy {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 1.8rem;
}

@media (min-width: 768px) {
    .introduction__container-over-box-text-enegy {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 2.4rem;
        margin-top: 2.3rem;
    }
}

.introduction__container-over-box-img {
    width: 10rem;
    max-width: 10rem;
}

@media (min-width: 768px) {
    .introduction__container-over-box-img {
        width: 13.3rem;
        max-width: 13.3rem;
    }
}

.introduction__container-over-box-text-pc-br {
    display: inline-block;
}

@media (min-width: 768px) {
    .introduction__container-over-box-text-sp-br {
        display: inline-block;
    }
}


@media (min-width: 768px) {
    .introduction__container-under {
        display: flex;
        flex-direction: row;
        justify-items: center;
        column-gap: 5rem;
        max-width: 110rem;
        margin-left: auto;
        margin-right: auto;
    }
}


.introduction__container-under-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #168352;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2.4rem;
    padding-right: 3.7rem;
    column-gap: 1.7rem;
    border-radius: 2.4rem;
    margin-bottom: 2rem;
    color: #fff;
}

@media (min-width: 768px) {
    .introduction__container-under-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #168352;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2.4rem;
        padding-right: 3.7rem;
        column-gap: 2rem;
        border-radius: 2.4rem;
        margin-bottom: 2rem;
        width: calc((100% - 10rem)/3);
    }
}

.introduction__container-under-box-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 1.8rem;
}

@media (min-width: 768px) {
    .introduction__container-under-box-text {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 2rem;
        margin-top: 1.8rem;
    }
}

.introduction__container-under-box-img {
    width: 10rem;
    max-width: 10rem;
}

@media (min-width: 768px) {
    .introduction__container-under-box-img {
        width: 11rem;
        max-width: 11rem;
    }
}

.introduction__container-under-box-text-br {
    display: inline-block;
}

@media (min-width: 768px) {
    .introduction__container-under-box:hover {
        background-color: #dffaec;
        color: #168352;
    }
}



/*お客様の事例紹介
------------------------------------------ */
.case {
    padding-top: 5.4rem;
    padding-bottom: 2.2rem;
    background-color: #f3f9f6;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

@media (min-width: 768px) {
    .case {
        padding-top: 6.2rem;
        padding-bottom: 3.2rem;
        background-color: #f3f9f6;
    }
}

.case__container-heading {
    text-align: center;
    margin-bottom: 1.7rem;
}

@media (min-width: 768px) {
    .case__container-heading {
        text-align: center;
        margin-bottom: 2.3rem;
    }
}

.case__container-heading-english {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #168352;
    line-height: 1;
}

@media (min-width: 768px) {
    .case__container-heading-english {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 2rem;
        color: #168352;
        margin-bottom: .4rem;
    }
}

.case__container-heading-japanese {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #000;
}

@media (min-width: 768px) {
    .case__container-heading-japanese {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 2.8rem;
        color: #000;
    }
}

@media (min-width: 768px) {
    .case__container-wrapper {
        display: flex;
        justify-items: center;
        flex-direction: row;
        column-gap: 3rem;
        max-width: 116.7rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.case__container-wrapper-box {
    display: block;
    margin-bottom: 2.7rem;
}

@media (min-width: 768px) {
    .case__container-wrapper-box {
        width: calc((100% - 6rem)/3);
    }
}

@media (min-width: 768px) {
    .case__container-wrapper-box:hover {
        opacity: .5;
    }
}

.case__container-wrapper-box-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #09947b;
    margin-left: .2rem;
}

@media (min-width: 768px) {
    .case__container-wrapper-box-text {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 1.9rem;
        color: #09947b;
        margin-left: 0rem;
    }
}

.case__container-wrapper-box-img {
    width: 35.8rem;
    margin-bottom: .7rem;
}



@media (min-width: 768px) {
    .case__container-wrapper-box-img {
        width: 36.9rem;
        margin-bottom: 0.8rem;
    }
}

/*お知らせ
------------------------------------------ */
.news {
    padding-top: 5.4rem;
    padding-bottom: 2.9rem;
    background-color: #fff;
    padding-left: 1.5rem;
    padding-right: 1.6rem;
}

@media (min-width: 768px) {
    .news {
        padding-top: 6.2rem;
        padding-bottom: 3.7rem;
        background-color: #fff;
    }
}

@media (min-width: 768px) {
    .news__container {
        max-width: 90rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.news__container-heading {
    text-align: center;
    border-bottom: .1rem solid #ddd;
    padding-bottom: 1.8rem;
}

@media (min-width: 768px) {
    .news__container-heading {
        text-align: center;
        padding-bottom: 0rem;
        padding-bottom: 2.2rem;
    }
}

.news__container-heading-english {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #168352;
    line-height: 1;
}

@media (min-width: 768px) {
    .news__container-heading-english {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 2rem;
        color: #168352;
        margin-bottom: .4rem;
    }
}

.news__container-heading-japanese {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #000;
}

@media (min-width: 768px) {
    .news__container-heading-japanese {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 2.8rem;
        color: #000;
    }
}

.news__container-wrapper-list {
    padding-top: 1.4rem;
    margin-bottom: 0rem;
    padding-bottom: 1rem;
    border-bottom: .1rem solid #ddd;
}

@media (min-width: 768px) {
    .news__container-wrapper-list {
        display: flex;
        flex-direction: row;
        column-gap: .2rem;
        padding-top: .8rem;
        padding-bottom: 1.6rem;
        border-bottom: .1rem solid #ddd;
        margin-bottom: 0rem;
        margin-top: .1rem;
    }
}

@media (min-width: 768px) {
    .news__container-wrapper-list--fifth {
        padding-top: 1rem;
    }
}

.news__container-wrapper-list-date {
    display: inline-block;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #222;
    width: 7.494rem;
    margin-right: 1.6rem;
}

@media (min-width: 768px) {
    .news__container-wrapper-list-date {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 400;
        font-size: 1.4rem;
        color: #222;
        margin-right: 1.2rem;
        margin-top: .7rem;
    }
}

.news__container-wrapper-list-badge {
    display: inline-block;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: #fff;
    background-color: #473221;
    width: 13.4rem;
    border-radius: .4rem;
    text-align: center;
    padding-top: .1rem;
    padding-bottom: .4rem;
}

@media (min-width: 768px) {
    .news__container-wrapper-list-badge {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 400;
        font-size: 1.3rem;
        color: #fff;
        margin-top: .7rem;
    }
}

.news__container-wrapper-list-text {
    display: inline-block;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #09947b;
    margin-left: 0.2rem;
    margin-top: .9rem;
}

@media (min-width: 768px) {
    .news__container-wrapper-list-text {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        color: #09947b;
        margin-left: 2.2rem;
        margin-top: 1.3rem;
        line-height: 1;
    }
}

/*ニュース一覧へボタン
------------------------------------------ */
.button {
    margin-bottom: 6.1rem;
}

@media (min-width: 768px) {
    .button {
        margin-bottom: 6.9rem;
    }
}

.button__background {
    display: block;
    background-color: #066655;
    width: 30rem;
    height: 6.6rem;
    border-radius: 3.3rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0rem;
}

@media (min-width: 768px) {
    .button__background {
        display: block;
        background-color: #066655;
        width: 30rem;
        height: 6.6rem;
        border-radius: 3.3rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.button__news {
    display: block;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #fff;
    background-color: #09947b;
    width: 30rem;
    height: 6.6rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3.3rem;
    margin-top: -7rem;
    padding-top: 1.6rem;
}

@media (min-width: 768px) {
    .button__news {
        display: block;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 1.8rem;
        color: #fff;
        background-color: #09947b;
        width: 30rem;
        height: 6.6rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        border-radius: 3.3rem;
        margin-top: -7.1rem;
        padding-top: 1.7rem;
    }
}

@media (min-width: 768px) {
    .button__news:hover {
        transform: translateY(.3rem);
    }
}

/*ニュース一覧へボタン
------------------------------------------ */
.footer {
    background-color: #168352;
}

@media (min-width: 768px) {
    .footer {
        background-color: #168352;
    }
}

.footer__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
}

@media (min-width: 768px) {
    .footer__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }
}

.footer__list-item-link {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: #fff;
    margin-left: .1rem;
}

@media (min-width: 768px) {
    .footer__list-item-link {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        color: #fff;
    }
}

.footer__list li:not(.footer__list-item--last) {
    position: relative;
    padding-right: 1.8rem;
    margin-right: 1.5rem;
}


@media (min-width: 768px) {
    .footer__list li:not(.footer__list-item--last) {
        position: relative;
        padding-right: 2.3rem;
        margin-right: 1.8rem;
    }
}

.footer__list li:not(.footer__list-item--last)::after {
    content: "";
    position: absolute;
    top: .2rem;
    right: 0;
    width: .1rem;
    height: 2rem;
    background-color: #fff;
}

@media (min-width: 768px) {
    .footer__list li:not(.footer__list-item--last)::after {
        content: "";
        position: absolute;
        top: .1rem;
        right: 0;
        width: .1rem;
        height: 2.4rem;
        background-color: #fff;
    }
}

/*価格・スペック
------------------------------------------ */

/*カバー価格
------------------------------------------ */
.cover-price {
    margin-top: 8.4rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    position: relative;
}

@media (min-width: 768px) {
    .cover-price {
        margin-top: 15.4rem;
        padding-left: 10rem;
        padding-right: 10rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 140rem;
    }
}

.cover-price__container {
    height: 23rem;
    margin-bottom: 1.8rem;
}

@media (min-width: 768px) {
    .cover-price__container {
        height: 55rem;
    }
}

.cover-price__container-img {
    background-image: url("/assets/image/cover_sp_02.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 2.4rem;
}

@media (min-width: 768px) {
    .cover-price__container-img {
        background-image: url("/assets/image/cover_pc_02.png");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
}

@media (min-width: 768px) {
    .cover-price__box {
        position: absolute;
        top: 79.4%;
        background-color: #fff;
        border-top-right-radius: 4rem;
        padding-left: 4.2rem;
        padding-right: 3.7rem;
        padding-top: 2.3rem;
        padding-bottom: 4rem;
    }
}

.cover-price__box-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: #000;
}

@media (min-width: 768px) {
    .cover-price__box-text {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 3.6rem;
        color: #000;
    }
}

/*パンくず
------------------------------------------ */
.breadcrumb {
    padding-left: 1.6rem;
    padding-right: 1.3rem;
    padding-top: 1.3rem;
}

@media (min-width: 768px) {
    .breadcrumb {
        padding-left: 10rem;
        padding-right: 9.7rem;
        padding-top: 0rem;
        max-width: 140rem;
        margin: 0 auto;
    }
}

.breadcrumb__list-item-link {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #000;
    margin-top: .2rem;
    display: block;
}

@media (min-width: 768px) {
    .breadcrumb__list-item-link {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        color: #000;
        margin-top: 0rem;
        display: block;
        line-height: 1.8;
    }
}

.breadcrumb__list {
    display: flex;
    flex-direction: row;
    column-gap: .8rem;
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .breadcrumb__list {
        display: flex;
        flex-direction: row;
        column-gap: .8rem;
    }
}

.breadcrumb__list-item-link--first::after {
    content: "";
    display: inline-block;
    background-image: url('/assets/image/breadcrumb_arrow.svg');
    background-position: center;
    background-size: contain;
    width: .5rem;
    height: 1rem;
    margin-left: .7rem;
}

/*ギャラリー
------------------------------------------ */

.gallery {
    padding-top: 2.7rem;
}

@media (min-width: 768px) {
    .gallery {
        padding-top: 4.7rem;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }
}

.gallery__container {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

@media (min-width: 768px) {
    .gallery__container {
        max-width: 80rem;
        margin: 0 auto;
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

.gallery__container-headiing {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    color: #000;
    margin-bottom: 3rem;
    position: relative;
}

.gallery__container-headiing::before {
    content: '';
    position: absolute;
    top: 107.2%;
    width: 13.9%;
    height: .3rem;
    background: #168352;
}

@media (min-width: 768px) {
    .gallery__container-headiing::before {
        content: '';
        position: absolute;
        top: 132.2%;
        width: 12.5%;
        height: .5rem;
        background: #168352;
    }
}

.gallery__container-headiing::after {
    content: '';
    position: absolute;
    top: 107.2%;
    width: 86.1%;
    height: .3rem;
    background: #ddd;
    left: 13.9%;
}

@media (min-width: 768px) {
    .gallery__container-headiing::after {
        content: '';
        position: absolute;
        top: 132.2%;
        width: 87.5%;
        height: .5rem;
        background: #ddd;
        left: 12.5%;
    }
}

@media (min-width: 768px) {
    .gallery__container-headiing {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 2.8rem;
        color: #000;
        margin-bottom: 5.3rem;
        position: relative;
    }
}

.gallery__container-headiing-slick {
    max-width: 37.4rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .gallery__container-headiing-slick {
        max-width: 81.6rem;
        margin: 0 auto;
    }
}

.gallery__container-headiing-slick-item {
    margin: 0 .8rem;
}

@media (min-width: 768px) {
    .gallery__container-headiing-slick-item {
        margin: 0 .8rem;
    }
}

.gallery__container-headiing-slick-item-img {
    width: 37.4rem;
    height: 23.7rem;
    border-radius: 2.4rem;
}

@media (min-width: 768px) {
    .gallery__container-headiing-slick-item-img {
        width: 81.6rem;
        height: 50rem;
        border-radius: 2.4rem;
        display: block;
        margin: 0 auto;
    }
}

/*slick*/
.slick-dots {
    position: absolute;
    bottom: .3rem;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

@media (min-width: 768px) {
    .slick-dots {
        position: absolute;
        bottom: 1.5rem;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
    }
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 1rem;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: -.8rem;
    content: '•';
    text-align: center;
    color: #fff;
    opacity: 1;
}

.slick-dots li {
    width: .6rem;
}

.slick-dots li.slick-active button:before {
    color: #168352;
    opacity: 1;
}

/*特徴
------------------------------------------ */

.features {
    padding-top: 2.4rem;
    padding-left: 1.5rem;
    padding-right: 1.6rem;
}

@media (min-width: 768px) {
    .features {
        padding-top: 2.7rem;
        max-width: 80rem;
        margin: 0 auto;
        padding-left: 0rem;
        padding-right: 0rem;
    }
}


@media (min-width: 768px) {
    .features__container {
        max-width: 80rem;
    }
}

.features__container-headiing {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    color: #000;
    margin-bottom: 3rem;
    position: relative;
}

.features__container-headiing::before {
    content: '';
    position: absolute;
    top: 109.2%;
    width: 14.2%;
    height: .3rem;
    background: #168352;
    left: 0.3%;
}

@media (min-width: 768px) {
    .features__container-headiing::before {
        content: '';
        position: absolute;
        top: 132.2%;
        width: 12.5%;
        height: .5rem;
        background: #168352;
    }
}

.features__container-headiing::after {
    content: '';
    position: absolute;
    top: 109.1%;
    width: 86.1%;
    height: .3rem;
    background: #ddd;
    left: 14.2%;
}

@media (min-width: 768px) {
    .features__container-headiing::after {
        content: '';
        position: absolute;
        top: 132.2%;
        width: 87.5%;
        height: .5rem;
        background: #ddd;
        left: 12.5%;
    }
}

@media (min-width: 768px) {
    .features__container-headiing {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 2.8rem;
        color: #000;
        margin-bottom: 5.3rem;
        position: relative;
    }
}

.features__container-wrapper-box-img {
    width: 35.8rem;
    margin-bottom: .7rem;
}

@media (min-width: 768px) {
    .features__container-wrapper-box-img {
        width: 24.6rem;
    }
}

.features__container-wrapper-box-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #000;
    line-break: anywhere;
    letter-spacing: 0.01rem;
}

@media (min-width: 768px) {
    .features__container-wrapper-box-text {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 1.8rem;
        color: #000;
        line-break: anywhere;
    }
}

.features__container-wrapper-box {
    margin-bottom: 3.4rem;
}

@media (min-width: 768px) {
    .features__container-wrapper-box {
        margin-bottom: 3.4rem;
    }
}

@media (min-width: 768px) {
    .features__container-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: row;
        column-gap: 3.1rem;
    }
}

@media (min-width: 768px) {
    .features__container-wrapper-box {
        width: calc((100% - 3.1rem)/3);
    }
}


/*メーカー希望小売価格
------------------------------------------ */
.price {
    padding-top: 1.7rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;

}

@media (min-width: 768px) {
    .price {
        padding-top: 1.7rem;
        max-width: 80rem;
        margin: 0 auto;
        padding-left: 0rem;
        padding-right: 0rem;
    }
}


@media (min-width: 768px) {
    .price__container {
        max-width: 80rem;
    }
}

.price__container-headiing {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    color: #000;
    margin-bottom: 1.5rem;
    position: relative;
}

.price__container-headiing::before {
    content: '';
    position: absolute;
    top: 107.2%;
    width: 13.9%;
    height: .3rem;
    background: #168352;
}

@media (min-width: 768px) {
    .price__container-headiing::before {
        content: '';
        position: absolute;
        top: 132.2%;
        width: 12.5%;
        height: .5rem;
        background: #168352;
    }
}

.price__container-headiing::after {
    content: '';
    position: absolute;
    top: 107.2%;
    width: 86.1%;
    height: .3rem;
    background: #ddd;
    left: 13.9%;
}

@media (min-width: 768px) {
    .price__container-headiing::after {
        content: '';
        position: absolute;
        top: 132.2%;
        width: 87.5%;
        height: .5rem;
        background: #ddd;
        left: 12.5%;
    }
}

@media (min-width: 768px) {
    .price__container-headiing {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 2.8rem;
        color: #000;
        margin-bottom: 3.7rem;
        position: relative;
    }
}

.price__container-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
    color: #168352;
}

.price__container-text-tax {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
}

/*メーカー希望小売価格
------------------------------------------ */
.spec {
    padding-top: 4.4rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    margin-bottom: 6.5rem;

}

@media (min-width: 768px) {
    .spec {
        padding-top: 4.7rem;
        max-width: 80rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0rem;
        padding-right: 0rem;
        margin-bottom: 7.25rem;
    }
}


@media (min-width: 768px) {
    .spec__container {
        max-width: 80rem;
    }
}

.spec__container-headiing {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    color: #000;
    margin-bottom: 2.7rem;
    position: relative;
}

@media (min-width: 768px) {
    .spec__container-headiing {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 2.8rem;
        color: #000;
        margin-bottom: 5rem;
        position: relative;
    }
}

.spec__container-headiing::before {
    content: '';
    position: absolute;
    top: 109.1%;
    width: 13.9%;
    height: .3rem;
    background: #168352;
}

@media (min-width: 768px) {
    .spec__container-headiing::before {
        content: '';
        position: absolute;
        top: 132.2%;
        width: 12.5%;
        height: .5rem;
        background: #168352;
    }
}

.spec__container-headiing::after {
    content: '';
    position: absolute;
    top: 109.1%;
    width: 86.1%;
    height: .3rem;
    background: #ddd;
    left: 13.9%;
}

@media (min-width: 768px) {
    .spec__container-headiing::after {
        content: '';
        position: absolute;
        top: 132.2%;
        width: 87.5%;
        height: .5rem;
        background: #ddd;
        left: 12.5%;
    }
}

@media (min-width: 768px) {
    .spec__container-wrapper {
        width: 74rem;
        margin: 0 auto;
    }
}

.spec__container-wrapper-aircraft {
    position: relative;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #000;
    margin-left: 1.8rem;
    margin-bottom: 1.4rem;
}

@media (min-width: 768px) {
    .spec__container-wrapper-aircraft {
        position: relative;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 2.4rem;
        color: #000;
        margin-left: 1.9rem;
        margin-bottom: 2.5rem;
    }
}


.spec__container-wrapper-aircraft::before {
    content: '';
    position: absolute;
    top: 11.2%;
    width: .2rem;
    height: 3rem;
    background: #168352;
    left: -5.2%;
}

@media (min-width: 768px) {
    .spec__container-wrapper-aircraft::before {
        content: '';
        position: absolute;
        top: 6.1%;
        left: -2.6%;
        width: .3rem;
        height: 4rem;
        background: #168352;
    }
}

.spec__container-wrapper-table-row-tableheader {
    width: 100%;
    display: block;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #000;
    border-top: solid .1rem #ddd;
    border-left: solid .1rem #ddd;
    border-right: solid .1rem #ddd;
    background-color: #f5f5f5;
    padding-left: 1.9rem;
    padding-top: 1rem;
    padding-bottom: 1.2rem;
    line-height: 1;
}

@media (min-width: 768px) {
    .spec__container-wrapper-table-row-tableheader {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 1.6rem;
        color: #000;
        border-top: solid .1rem #ddd;
        border-left: solid .1rem #ddd;
        border-right: solid .1rem #ddd;
        background-color: #f5f5f5;
        padding-left: 1.9rem;
        padding-top: 2.2rem;
        padding-bottom: .5rem;
        width: 20rem;
        height: 6.3rem;
    }
}

.spec__container-wrapper-table-row-tabledate {
    width: 100%;
    display: block;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #000;
    border-top: solid .1rem #ddd;
    border-left: solid .1rem #ddd;
    border-right: solid .1rem #ddd;
    background-color: #fff;
    padding-left: 1.8rem;
    padding-top: 1rem;
    padding-bottom: 1.2rem;
    line-height: 1;
    letter-spacing: 0.01rem;
}

@media (min-width: 768px) {
    .spec__container-wrapper-table-row-tabledate {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 400;
        font-size: 1.6rem;
        color: #000;
        border-top: solid .1rem #ddd;
        border-left: none;
        border-right: solid .1rem #ddd;
        background-color: #fff;
        padding-left: 2.3rem;
        padding-top: 2.2rem;
        padding-bottom: .5rem;
        width: 54rem;
        height: 6.3rem;
    }
}

.spec__container-wrapper-table-row-last {
    border-bottom: solid .1rem #ddd;
}

.spec__container-wrapper-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

@media (min-width: 768px) {
    .spec__container-wrapper-table-row {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .spec__container-wrapper-table-row-tableheader-height62px {
        height: 6.1rem;
    }
}

@media (min-width: 768px) {
    .spec__container-wrapper-table-row-tabledate-height62px {
        height: 6.1rem;
    }
}

@media (min-width: 768px) {
    .spec__container-wrapper-table-row-tableheader-last {
        border-bottom: solid .1rem #ddd;
    }
}

.spec__container-wrapper-table-row-tabledate-last {
    border-bottom: solid .1rem #ddd;
}

@media (min-width: 768px) {
    .spec__container-wrapper-table-row-tabledate-last {
        border-bottom: solid .1rem #ddd;
    }
}


/*お問い合わせ
------------------------------------------ */
.contact {
    height: 36rem;
}

@media (min-width: 768px) {
    .contact {
        height: 45rem;
    }
}

.contact__img {
    width: 100%;
    height: 100%;
    background-image: url("/assets/image/contact_sp.png");
    background-position: center;
    background-size: cover;
    padding-top: 14rem;
}

@media (min-width: 768px) {
    .contact__img {
        width: 100%;
        height: 100%;
        background-image: url("/assets/image/contact_pc.png");
        background-position: center;
        background-size: cover;
        padding-top: 18.5rem;
    }
}




.contact__img-button {
    display: block;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    padding-top: 1.9rem;
    padding-bottom: 3.1rem;
    padding-left: 11.4rem;
    padding-right: 11.3rem;
    margin: 0 auto;
    width: 35.8rem;
    height: 8rem;
    border: .2rem solid #fff;
    border-radius: 4rem;
}

@media (min-width: 768px) {
    .contact__img-button:hover {
        display: block;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 2rem;
        color: #168352;
        text-align: center;
        padding-top: 1.9rem;
        padding-bottom: 3.1rem;
        padding-left: 11.4rem;
        padding-right: 11.3rem;
        margin: 0 auto;
        width: 35.8rem;
        height: 8rem;
        border: .2rem solid #fff;
        border-radius: 4rem;
        background-color: #fff;
    }
}

/*カバーよくあるご質問
------------------------------------------ */
.cover-question {
    margin-top: 8.4rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    position: relative;
}

@media (min-width: 768px) {
    .cover-question {
        margin-top: 15.4rem;
        padding-left: 10rem;
        padding-right: 10rem;
        max-width: 140rem;
        margin-left: auto;
        margin-right: auto
    }
}

.cover-question__container {
    height: 23rem;
    margin-bottom: 1.8rem;
}

@media (min-width: 768px) {
    .cover-question__container {
        height: 55rem;
    }
}

.cover-question__container-img {
    background-image: url("/assets/image/cover_sp_03.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 2.4rem;
}

@media (min-width: 768px) {
    .cover-question__container-img {
        background-image: url("/assets/image/cover_pc_03.png");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 2.4rem;
    }
}

@media (min-width: 768px) {
    .cover-question__box {
        position: absolute;
        top: 79.4%;
        background-color: #fff;
        border-top-right-radius: 4rem;
        padding-left: 4rem;
        padding-right: 3.5rem;
        padding-top: 2.3rem;
        padding-bottom: 4rem;
    }
}

.cover-question__box-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: #000;
}

@media (min-width: 768px) {
    .cover-question__box-text {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 3.6rem;
        color: #000;
    }
}

/*パンくずよくあるご質問
------------------------------------------ */
.breadcrumb__list-question {
    column-gap: .8rem;
}

@media (min-width: 768px) {
    .breadcrumb__list-question {
        column-gap: .7rem;
    }
}

.breadcrumb__list-item-link-question {
    margin-right: .2rem;
}

/*アコーディオンよくあるご質問
------------------------------------------ */
.question {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 3.5rem;
    padding-bottom: 14.7rem;
}

@media (min-width: 768px) {
    .question {
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 5.9rem;
        padding-bottom: 4.8rem;
    }
}

.question__container {
    max-width: 35.8rem;
}

@media (min-width: 768px) {
    .question__container {
        max-width: 80rem;
        margin: 0 auto;
    }
}

.question__container-accordion-box {
    border: .1rem solid #ccc;
    border-radius: 1.6rem;
    margin-bottom: 2.4rem;
}

@media (min-width: 768px) {
    .question__container-accordion-box {
        border: .1rem solid #ccc;
        border-radius: 1.6rem;
        margin-bottom: 2.4rem;
    }
}

.question__container-accordion-box-title {
    padding-left: 2.4rem;
    padding-right: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    column-gap: 1.6rem;
    cursor: pointer;
    padding-bottom: 1.7rem;
}

.question__container-accordion-box-title::after {
    content: "";
    display: inline-block;
    background-image: url('/assets/image/question_plus.svg');
    background-position: center;
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: .5rem;
}

@media (min-width: 768px) {
    .question__container-accordion-box-title::after {
        margin-top: .3rem;
        margin-left: .2rem;
    }
}

.question__container-accordion-box-title--active::after {
    background-image: url('/assets/image/question_minus.svg');
    margin-top: .3rem;
}


@media (min-width: 768px) {
    .question__container-accordion-box-title {
        padding-left: 3.1rem;
        padding-right: 2.3rem;
        padding-top: 2rem;
        display: flex;
        flex-direction: row;
        column-gap: 1.5rem;
        padding-bottom: 1.7rem;
    }
}


.question__container-accordion-box-title-q {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: #168352;
    line-height: 0.9;
    margin-top: .3rem;
}

@media (min-width: 768px) {
    .question__container-accordion-box-title-q {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 2.4rem;
        color: #168352;
        margin-top: 0rem;
    }
}

.question__container-accordion-box-title-plus {
    width: 2rem;
    height: 2rem;
    margin-top: .5rem;
}

.question__container-accordion-box-title-minus {
    display: none;
    width: 2rem;
    height: .3rem;
    margin-top: 1.1rem;
}

.question__container-accordion-box-title-center-bage {
    display: flex;
    flex-direction: row;
    column-gap: .8rem;
    margin-top: .2rem;
}

.question__container-accordion-box-title-center-bage-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #168352;
    padding-top: .1rem;
    border: .1rem solid #168352;
    border-radius: .4rem;
    width: 10rem;
    height: 2.4rem;
    text-align: center;
}

@media (min-width: 768px) {
    .question__container-accordion-box-title-center-bage-text {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 400;
        font-size: 1.1rem;
        color: #168352;
        padding-top: .1rem;
        border: .1rem solid #168352;
        border-radius: .4rem;
        width: 10rem;
        height: 2.4rem;
        text-align: center;
        margin-top: 0rem;
    }
}

.question__container-accordion-box-title-center-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #000;
    width: 22.4rem;
    line-break: anywhere;
}

@media (min-width: 768px) {
    .question__container-accordion-box-title-center-text {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 1.8rem;
        color: #000;
        width: 65.6rem;
        line-break: anywhere;
    }
}

.question__container-accordion-box-content {
    margin-top: -1.6rem;
}

@media (min-width: 768px) {
    .question__container-accordion-box-content {
        margin-top: 0rem;
    }
}

.question__container-accordion-box-content-textbox-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #000;
    line-break: anywhere;
    letter-spacing: .01rem;
}

@media (min-width: 768px) {
    .question__container-accordion-box-content-textbox-text {
        margin-top: 0rem;
        letter-spacing: .004em;
    }
}

.question__container-accordion-box-content-textbox {
    padding-left: 2.5rem;
    padding-right: 2.1rem;
    padding-top: .1rem;
    padding-bottom: 1.8rem;
}

@media (min-width: 768px) {
    .question__container-accordion-box-content-textbox {
        padding-left: 3.1rem;
        padding-right: 2.4rem;
        padding-bottom: 1.8rem;
        padding-top: 0rem;
    }
}

.question__container-accordion-box-title-forth {
    padding-top: 2rem;
    padding-bottom: 1.6rem
}

.question__container-accordion-box-content-forth {
    margin-bottom: -.2rem;
    padding-top: .3rem;
}

@media (min-width: 768px) {
    .question__container-accordion-box-content-forth {
        margin-bottom: 0rem;
        padding-top: 0rem;
    }
}

.question__container-accordion-box-title-18px {
    padding-bottom: 1.8rem;
}

.question__container-accordion-box-content-textbox-14px {
    padding-top: .1rem;
}

@media (min-width: 768px) {
    .question__container-accordion-box-content-textbox-14px {
        padding-top: 0rem;
        padding-bottom: 2rem;
    }
}

.question__container-accordion-box-content-15px {
    margin-top: -1.8rem;
}

@media (min-width: 768px) {
    .question__container-accordion-box-content-15px {
        margin-top: -.1rem;
    }
}

.question__container-accordion-box-content-textbox-nineth {
    padding-top: 0rem;
}

@media (min-width: 768px) {
    .question__container-accordion-box-content-textbox-nineth {
        padding-top: 0rem;
    }
}

.question__container-accordion-box-content-textbox-fifth {
    padding-top: 0rem;
}

@media (min-width: 768px) {
    .question__container-accordion-box-content-textbox-fifth {
        padding-top: 0rem;
        padding-right: 3.2rem;
        padding-bottom: 1.9rem
    }
}


.question__container-accordion-box-content-textbox-last {
    padding-top: .8rem;
}

@media (min-width: 768px) {
    .question__container-accordion-box-content-textbox-last {
        padding-top: 0rem;
    }
}

.question__container-accordion-box-title-center {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .question__container-accordion-box-title-center {
        display: flex;
        flex-direction: column;
        row-gap: .8rem;
    }
}

.question__container-accordion-box-content {
    display: none;
}



.question__container-accordion-box-title-close {
    display: none;
}

.question__container-accordion-box-content--first {
    padding-bottom: 1.8rem;
}

@media (min-width: 768px) {
    .question__container-accordion-box-content--first {
        padding-bottom: 1.8rem;
    }
}

.question__container-accordion-box-content-textbox--sixth {
    padding-bottom: 1.7rem;
}

@media (min-width: 768px) {
    .question__container-accordion-box-content-textbox--sixth {
        padding-bottom: 1.8rem;
    }
}

@media (min-width: 768px) {
    .question__container-accordion-box-title-fifth {
        padding-top: 2.2rem
    }
}

@media (min-width: 768px) {
    .question__container-accordion-box-content-fifth {
        padding-top: 0rem;
    }
}

.question__container-accordion-box-title--eight{
    padding-top: 2.2rem;
}

@media (min-width: 768px) {
    .question__container-accordion-box-title--eight{
        padding-top: 2rem;
    }
}